<!DOCTYPE html>
<html>
  <head>
    <title>Expenses</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Starup Budget</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if @tab == :dashboard %>"><%= link_to "Dashboard", root_path %></li>
            <li class="<%= 'active' if @tab == :expenses %>"><%= link_to "Gastos", expenses_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if signed_in? %>
              <li><%= link_to 'Editar cuenta', edit_user_registration_path %></li>
              <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Ingresar", new_user_session_path %></li>
              <li><%= link_to "Registrarse", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>

      </div>
    </nav>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <% unless message.blank? %>
        <div class="alert alert-<%= message_type %> alert-growl" id="flash"><%= message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
